#titulo {
    display: block;
    text-align: center;
}

#calculadora {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    margin: 5% auto;
    text-align: center;
    border: 1px solid;
    border-radius: 2%;
    padding: 1% 1% 1% 1%;
    background-color: #666;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    '0 0 0 onOff'
    'display display display display'
    'division multiplicacion resta borrar'
    'siete ocho nueve suma'
    'cuatro cinco seis suma'
    'uno dos tres suma'
    'punto cero igual suma';
}

#display {
    grid-area: display;
    width: 95%;
    height: 2rem;
    padding: 1%;
    text-align: right;
    font-size: x-large;
    background-color: gray;
    color: darkslategrey;
}

.btn, #onOff {
    margin-top: 4%;
    width: 70px;
    height: 40px;
    background-color: wheat;
    font-weight: bold;

}

.btn:hover {
    background-color: lightsalmon;
}

#onOff {
    grid-area: onOff;
    margin-left: 25%;
    width: 50px;
    height: 20px;
    border-radius: 40%;
    font-size: x-small;
}

#uno {
    grid-area: uno;
}

#dos {
    grid-area: dos;
}

#tres {
    grid-area: tres;
}

#cuatro {
    grid-area: cuatro;
}

#cinco {
    grid-area: cinco;
}

#seis {
    grid-area: seis;
}

#siete {
    grid-area: siete;
}

#ocho {
    grid-area: ocho;
}

#nueve {
    grid-area: nueve;
}

#cero {
    grid-area: cero;
}

#suma {
    grid-area: suma;
    height: 94%;
}

#resta {
    grid-area: resta;
}

#multiplicacion {
    grid-area: multiplicacion;
}

#division {
    grid-area: division;
}

#punto {
    grid-area: punto;
}

#igual {
    grid-area: igual;
}

#borrar {
    grid-area: borrar;
    background-color: rgb(255,50,0);
    color: white;
}

